.inauguration-2022 {
    font-size: 1.25rem;
    background: #ffffff;
    color: #565656;
    font-family: "DIN Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;


}